*~
*.o
*.cmd
*.mod.c
*.symvers
*.ko
*.order
liblscpcie*
.tmp_versions/
local-config.h
test-mmap
read-binary
test-read-write
test-register
test-readout-polling
readout-blocking-filesystem
readout-blocking-proc
readout-polling
camera-debug
stop-camera
*.so*
.vscode/
