*~
*.o
*.mod.c
*.symvers
*.ko
test-mmap
read-binary
test-read-write
test-register
test-readout-polling
readout-blocking-filesystem
readout-blocking-proc
readout-polling
readout-blocking-filesystem-trigger
readout-loop
camera-debug
stop-camera
lsc-cli
*.so*
.vscode/
.vs/
build/
.qmake.stash
lsc-gui/Makefile
*.pro.user*
moc_*
ui_*
build*
qrc_style.cpp
escam_deb/escam_*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
shared_src/ESLSCDLL.lib
doc/html/
linux-driver/kernelspace/.cache.mk
linux-driver/kernelspace/dma.o.ur-safe
escam/Makefile
*.dat
linux-driver/kernelspace/lscpcie.mod
UpgradeLog.htm
*.user
.*
modules.order